<div class="d-flex py-2 px-3 justify-content-between align-items-center shadow">
    <h4 class="p-0 m-0">Todo App</h4>
    <div class="actions" *ngIf="isAuthenticated">
        <button class="btn btn-outline-primary" routerLink="/">{{ user?.username }}</button>
        <button class="btn btn-danger ms-3" (click)="logOut()">Log Out</button>
    </div>
    <div class="actions" *ngIf="!isAuthenticated">
        <button class="btn btn-outline-primary" routerLink="/">Sign In</button>
        <button class="btn btn-primary ms-3" routerLink="/signup">Sign Up</button>
    </div>
</div>